*,
*::before,
*::after {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

@font-face {
   font-family: "MS Sans Serif";
   src: url("../fonts/ms-sans-serif.ttf");
}

body {
   font-family: "Ms Sans Serif", sans-serif;
   cursor: url("../images/default-cursor.png"), auto;
}

.desktop {
   display: block;
   width: 100%;
   height: 100vh;
   background: #007a80;
   position: relative;
}

.task-bar {
   display: flex;
   align-items: center;
   justify-content: space-between;
   position: fixed;
   width: 100%;
   height: 48px;
   left: 0;
   bottom: 0;
   background-color: #c0b7bf;
   border-top: 2px solid #fff;
   padding: 0 3px;
}

.start {
   display: flex;
   align-items: center;
   padding: 3px;
   border-left: 2px solid #fff;
   border-top: 2px solid #fff;
   border-right: 2px solid #000;
   border-bottom: 2px solid #000;
   cursor: url("../images/pointer.png"), auto;
}

.start.active {
   border-left: 2px solid #000;
   border-top: 2px solid #000;
   border-right: 2px solid #fff;
   border-bottom: 2px solid #fff;
}

.start--icon {
   margin-right: 6px
}

.start--icon img {
   max-width: 26px;
}

.start--text {
   font-size: 18px;
}

.start--menu {
   display: none;
   position: fixed;
   bottom: 43px;
   background: #c0c0c0;
   border-left: 2px solid #fff;
   border-top: 2px solid #fff;
   border-right: 2px solid #000;
   border-bottom: 2px solid #000;
}

.start.active ~ .start--menu {
   display: flex;
}

.start--menu .title--text {
   min-width: 40px;
   height: 100%;
   position: relative;
   background-color: #808080;
}

.start--menu .title--text h3 {
   position: absolute;
   transform: rotate(-90deg);
   height: 24px;
   width: 200px;
   top: 299px;
   left: -83px;
   font-size: 28px;
   color: #c0c0c0;
}

.start--menu .title--text h3 .white {
   color: #fff;
}

.start--menu .menu {
   list-style-type: none;
}

.start--menu .menu li {
   display: flex;
   align-items: center;
   justify-content: start;
   min-width: 220px;
   padding: 10px 15px;
}

.start--menu .menu li:hover {
   color: #fff;
   background: #070085;
}

.start--menu .menu li .icon {
   margin-right: 10px;
}

.start--menu .menu li.run {
   border-bottom: 1px solid #959595;
}

.start--menu .menu li.shut-dowm {
   border-top: 1px solid #fff;
}

.start--menu .menu li .icon img {
   max-width: 40px;
}

.notifications {
   padding: 8px;
   border-left: 1px solid #666;
   border-top: 1px solid #666;
   border-right: 1px solid #fff;
   border-bottom: 1px solid #fff;
}

.desktop--icon {
   width: 100px;
   height: 100px;
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   justify-content: center;
}

.my-computer {
   position: absolute;
   top: 20px;
   left: 10px;
}

.my-computer--icon {
   margin-bottom: 10px;
}

.my-computer--icon img {
   display: block;
   margin: 0 auto;
   max-width: 67px;
}

.my-computer--text span {
   display: block;
   text-align: center;
   font-size: 16px;
   color: #fff;
}

.internet-explorer {
   position: absolute;
   top: 150px;
   left: 10px;
}

.internet-explorer--icon {
   margin-bottom: 10px;
}

.internet-explorer--icon img {
   display: block;
   margin: 0 auto;
   max-width: 67px;
}

.internet-explorer--text span {
   display: block;
   text-align: center;
   font-size: 16px;
   color: #fff;
}

.recycle-bin {
   position: absolute;
   top: 290px;
   left: 10px;
}

.recycle-bin--icon {
   margin-bottom: 10px;
}

.recycle-bin--icon img {
   display: block;
   margin: 0 auto;
   max-width: 67px;
}

.recycle-bin--text span {
   display: block;
   text-align: center;
   font-size: 16px;
   color: #fff;
}

.right-click-menu {
   display: none;
   position: absolute;
   background: #c0b7bf;
   border-left: 2px solid #fff;
   border-top: 2px solid #fff;
   border-right: 2px solid #000;
   border-bottom: 2px solid #000;
}

.right-click-menu.active {
   display: block;
}

.right-click-menu ul {
   list-style: none;
}

.right-click-menu ul li {
   margin: 10px 0;
   padding: 10px 60px;
}

.right-click-menu ul li:first-child {
   margin-top: 0;
}

.right-click-menu ul li:last-child {
   margin-bottom: 0;
}

.right-click-menu ul li:hover {
   color: #fff;
   background: #070085;
}

.right-click-menu ul li.paste,
.right-click-menu ul li.paste-shortcut {
   color: #909090;
   text-shadow: 0 0 1px #fff;
}

.application-window {
   display: block;
   position: absolute;
   min-width: 600px;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   background: #fff;
   border-left: 2px solid #fff;
   border-top: 2px solid #fff;
   border-right: 2px solid #000;
   border-bottom: 2px solid #000;
}

.application-window-title {
   display: flex;
   align-content: center;
   justify-content: space-between;
   padding: 5px;
   background: #808080;
   border: 3px solid #c0c0c0;
}

.application-window-title h5 {
   font-size: 18px;
   list-height: 20px;
   color: #c0c0c0;
}

.application-window-title .icons {
   display: flex;
   align-items: center;
   justify-content: center;
}

.application-window-title .icons span {
   width: 20px;
   height: 20px;
   margin: 0 2px;
   background-color: #c0c0c0;
   border-left: 2px solid #fff;
   border-top: 2px solid #fff;
   border-right: 2px solid #000;
   border-bottom: 2px solid #000;
   cursor: url("../images/pointer.png"), auto;
}